<form action="donationForm" method="post">
    <h2><%= name %> </h2>  
    <h2><%= email%></h2>
    <h2><%= phone%> </h2>

    <input type="submit" value="Donate">
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
<script>
	
	var loadFile = function(event) {
		var image = document.getElementById('output');
		image.src = URL.createObjectURL(event.target.files[0]);
	};

	$(document).load(function(){
		if(email == null)
		{
			window.location.replace("localhost:3000/login.html");
		}
		if(name == null)
		{
			window.location.replace("localhost:3000/login.html");
		}
		
	});
</script>